<div class="container">


    <div class="page__title-inner">
        <h3 class="item__main-title">{{ heading_title }}</h3>
        <span class="item__main-line"></span>
    </div>

  <div class="item__wrapper">
    {% for product in products %}
      <div class="item__box">

          <div class="item__img-box">
              <a href="{{ product.href }}">
                  <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive item__img" width="260px" height="220px"/>
              </a>
          </div>

          <div class="item__content">

            <h4 class="item__content-title">{{ product.name }}</h4>

              {% if product.rating %}
                  <div class="rating">
                      {% for i in 1..5 %}
                          {% if product.rating < i %}
                              <span class="fa-stack rating__star-box">
                                  <i class="fa-star-o rating__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="item-star__icon item-star__empty">
                                        <use xlink:href="/img/icon/sprite.svg#itemStar"></use>
                                    </svg>
                                  </i>
                              </span>
                          {% else %}
                              <span class="fa-stack rating__star-box">
                                  <i class="fa-star rating__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="item-star__icon item-star__active">
                                        <use xlink:href="/img/icon/sprite.svg#itemStar"></use>
                                    </svg>
                                  </i>
                                  <i class="fa-star-o rating__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="item-star__icon">
                                        <use xlink:href="/img/icon/sprite.svg#itemStar"></use>
                                    </svg>
                                  </i>
                              </span>
                          {% endif %}
                      {% endfor %}

                      <span class="item__reviews">{{ product.reviews }} {{ item_reviews }}</span>

                  </div>
              {% endif %}


            {% if product.price %}
              <p class="item__price">
                {% if not product.special %}
                    <span class="item__price-text">{{ product.price }} TMT</span>
                {% else %}
                    <span class="item__price-text">{{ product.price }} TMT</span>
                {% endif %}
                {% if product.tax %}
                {% endif %}
              </p>
            {% endif %}

              <a href="{{ product.href }}" class="item__content-link">{{ heading_item_link }}</a>

          </div>

      </div>

    {% endfor %}

  </div>

</div>

