{{ header }}
<div id="account-forgotten" class="container">

  <ul class="breadcrumb">
    {% for key, breadcrumb in breadcrumbs %}
      {% if key + 1 < breadcrumbs|length %}
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% else %}
        <li class="breadcrumb__item breadcrumb__item-active">{{ heading_title_text }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content">{{ content_top }}

      <h3 class="item__main-title">{{ heading_title_text }}</h3>
      <span class="item__main-line"></span>


      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form__forgotten">

          <div class="input__item-forgotten">
            <label class="input__title forgotten__title" for="input-email">{{ text_email }}</label>
              <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="input__item" />
          </div>

        <div class="button__box">

            <input type="submit" value="{{ button_continue }}" class="form__btn" />

        </div>

      </form>

      {{ content_bottom }}
    </div>
{#    {{ column_right }}#}
  </div>
</div>
</div>
{{ footer }}