{{ header }}
<div id="account-login" class="container">

  <ul class="breadcrumb">
    {% for key, breadcrumb in breadcrumbs %}
      {% if key + 1 < breadcrumbs|length %}
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% else %}
        <li class="breadcrumb__item breadcrumb__item-active">{{ heading_title_text }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if success %}
  <div class="alert alert-success alert-dismissible">{{ success }}
    <button type="button" class="close" data-dismiss="alert">×</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible">{{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">×</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content">
      {{ content_top }}

      <h3 class="item__main-title">{{ heading_title_text }}</h3>
      <span class="item__main-line"></span>

            <form class="login__form" action="{{ action }}" enctype="multipart/form-data" method="post" id="formPopup">

              <div class="login__item-box login__item-inner">
                <label class="login__title" for="input-email">{{ text_popup_login_tel_title }}</label>
                <input type="email" name="email" placeholder="{{ entry_tel }}" id="input-email" class="login__item" />
              </div>

              <div class="login__item-box login__item-inner">
                <label class="login__title" for="input-password">{{ text_popup_password_title }}</label>
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="login__item" />
              </div>

              <div class="login__btn-wrapper">
                <button type="submit" value="{{ button_login }}" class="login__btn login__btn-box">{{ text_popup_login_btn }}</button>

                <div class="login__bottom-links">
                  <a href="index.php?route=account/forgotten" class="item__link login__forgotten-link">{{ text_popup_login_link }}</a>
                  <a href="{{ register }}" class="item__link login__register-link">{{ text_register }}</a>
                </div>
              </div>

            </form>

      {{ content_bottom }}
    </div>
{#    {{ column_right }}#}
  </div>
</div>
</div>
{{ footer }}