{{ header }}

      <div id="error-not-found" class="container">
        <ul class="breadcrumb breadcrumb__list">
          {% for key, breadcrumb in breadcrumbs %}
            {% if key + 1 < breadcrumbs|length %}
              <li class="breadcrumb__item breadcrumb__item-hover"><a class="breadcrumb__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% else %}
              <li class="breadcrumb__item breadcrumb__item-active">{{ breadcrumb.text }}</li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="row">{{ column_left }}
          {% if column_left and column_right %}
          {% set class = 'col-sm-6' %}
          {% elseif column_left or column_right %}
          {% set class = 'col-sm-9' %}
          {% else %}
          {% set class = 'col-sm-12' %}
          {% endif %}
          <div class="container">
            <div id="content">{{ content_top }}

                <p class="logout__text">{{ text_empty }}</p>

                <div class="item__btn-box">
                    <a href="{{ continue }}" class="form__btn" type="submit">На главную</a>
                </div>


            </div>


            {{ content_bottom }}</div>
          {{ column_right }}</div>
      </div>

    </div>

    {{ footer }}

