{{ header }}
<div id="product-search" class="container">

    <ul class="breadcrumb">
        {% for key, breadcrumb in breadcrumbs %}
            {% if key + 1 < breadcrumbs|length %}
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                </li>
            {% else %}
                <li class="breadcrumb__item breadcrumb__item-active">{{ heading_title_searchtext }}</li>
            {% endif %}
        {% endfor %}
    </ul>

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content">{{ content_top }}

        <h3 class="item__main-title">{{ heading_title }}</h3>
        <span class="item__main-line"></span>

      {% if products %}

      <div class="row">
            <div class="item__wrapper">
                {% for product in products %}
                    <div class="item__box">

                        <div class="item__img-inner">
                            <a href="{{ product.href }}">
                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive item__img" />
                            </a>
                        </div>

                        <div class="item__content">

                            <h4 class="item__content-title">{{ product.name }}</h4>

                            {% if product.rating %}
                                <div class="rating">
                                    {% for i in 1..5 %}
                                        {% if product.rating < i %}
                                            <span class="fa-stack rating__star-box">
                                              <i class="fa-star-o rating__star">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="item-star__icon item-star__empty">
                                                    <use xlink:href="/img/icon/sprite.svg#itemStar"></use>
                                                </svg>
                                              </i>
                                          </span>
                                        {% else %}
                                            <span class="fa-stack rating__star-box">
                                                  <i class="fa-star rating__star">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="item-star__icon item-star__active">
                                                        <use xlink:href="/img/icon/sprite.svg#itemStar"></use>
                                                    </svg>
                                                  </i>
                                                  <i class="fa-star-o rating__star">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="item-star__icon">
                                                        <use xlink:href="/img/icon/sprite.svg#itemStar"></use>
                                                    </svg>
                                                  </i>
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                    <span class="item__reviews">{{ product.reviews }} {{ item_reviews }}</span>
                                </div>

                            {% endif %}

                            {% if product.price %}
                                <p class="item__price">
                                    {% if not product.special %}
                                        <span class="item__price-text">{{ product.price }} TMT</span>
                                    {% else %}
                                        <span class="item__price-text">{{ product.price }} TMT</span>
                                    {% endif %}
                                    {% if product.tax %}
                                    {% endif %}
                                </p>
                            {% endif %}

                            <a href="{{ product.href }}" class="item__content-link">{{ heading_item_link }}</a>

                        </div>

                    </div>

                {% endfor %}

            </div>
      </div>
      {% else %}
      <p class="logout__text">{{ text_empty_search }}</p>
      {% endif %}

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript">
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
</script>

</div>
{{ footer }}